.not-found-container {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-top: auto;
  }
  .h6 {
    color: black;
    font-weight: 500;
  }
  .not-found-img{
    height: 500px;
    padding: 20px;
  }